<ng-container *ngIf="state.employees">
    <div class = "row" >
        <div class = "col-sm-2">
            <strong>First Name</strong>
        </div>
        <div class = "col-sm-2">
            <strong>Last Name</strong>
        </div>
        <div class = "col-sm-2">
            <strong>Joining Date</strong>
        </div>
        <div class = "col-sm-3" align = right>
            <strong>Salary</strong> 
        </div>
        <div class = "col-sm-2">
            <strong>Salary</strong>
        </div>
    </div>
        
    <div class = "row" *ngFor="let employee of state.employees">
        <div class = "col-sm-2">
            {{employee.firstName}}
        </div>
        <div class = "col-sm-2">
            {{employee.lastName}}
        </div>
        <div class = "col-sm-2">
            {{employee.joiningDate | date : 'mediumDate' }}
        </div>
        <div class = "col-sm-3" align = right>
            {{employee.salary | currency   }}
        </div>
        <div class = "col-sm-2">
            {{employee.department}}
        </div>

    </div>
</ng-container>
