<div class="row" >
    <div class="col-sm-12" [formGroup] = "formGroup">
        <label  >User Name</label>&nbsp;
        <input formControlName = "userName" class = "col-sm-2" id = "userName" type = "text" name = "userName">
    </div>
</div>
<div class="row">
    <div class="col-sm-12" [formGroup] = "formGroup">
        <label>Password&nbsp;&nbsp;&nbsp;</label>&nbsp;
        <input formControlName = "password" class = "col-sm-2" id = "password" type = "text" name = "password">
    </div>
</div>
<div class = "row" *ngIf = "loginMessage()">
    <div class = "col-sm-12">
        <span style="color: red">
            {{loginMessage()}}
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <input [disabled] = "!isValidFormGroup()" type="button"  value ="Login" (click) = "login(formGroup.value)" >
    </div>
</div>
