<div class="row">
    <div class="col-sm-12" align = right>
        <ng-container *ngIf="getCurrentUser()">
            {{getCurrentUser()}}
        </ng-container>
        <ng-container *ngIf="!getCurrentUser()">
            <a [routerLink] = "['/login']">Login</a>
        </ng-container> 
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Employee App</h1>      
        </div>
    </div>
</div>
